<!DOCTYPE html>
<html lang="en">
<style>
        .left-bar {
    position: fixed;
    width: 20%;
    height: 100%;
    padding: 1%;
    background-color: #90d6b1;
    color: #fff;
    border: 1px solid #000;
}

    .mid-bar{
    position: fixed;
    left:25%;
    top:5%

}
    .right-bar{
    position: fixed;
    right:0%;
    width:20%;
    height:100%;
    background-color: #90d6b1;
    border: 1px solid #000;}
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Roboto', sans-serif; font-size:150%">
<div class="left-bar"></div>
<div class="mid-bar">
    <div style="position: fixed; right: 30%;">
        <a href="/insolve/regiester/">{{user}}</a>
        <a href="/stats/">Статистика</a>
    </div>
    <br><br><br><br><br>
    <form action="/editor/edit/finish/download/">
    <input type="submit" value="Скачать" style="background-color: #148513; width:100%;
     height: 5%; border-radius:3px;">
</form>
    <br>
<form action="/overload/">
    <input type="submit" value="В начало" style="background-color: #148513; width:100%;
     height: 4%; border-radius:3px;">
</form>
    </div>
<div class="right-bar"></div>
</body>
</html>